<article id="COMPONENT_Home" class="container-fluid">
	<header class="jumbotron text-center">

              <img src="https://content.ordercloud.io/assets/b8074863-e2f8-4e8b-835c-21b5e52dbada.png" height="89" width="273"/>
            <h2><u>Innovative Health Care Solutions</u></h2>

	</header>


    <h3 class="text-center">One place for all products related to Health , Personal care ..............</h3>
        <!--<form name="ProductSearch"  ng-submit="home.searchProduct()">-->
                <!--<input id="prod" type="text"  class="text-center" placeholder="Search Product!!!!!" />-->
                <!--<button type="submit" class="btn btn-primary" >SUBMIT</button>-->
        <!--</form>-->

<!--<div ng-repeat="it in home.list.Items">-->

    <!--{{it.ID}}-->

    <!--</div>-->



</article>