<article id="COMPONENT_Home" class="container-fluid">
	<header class="jumbotron text-center">

              <img src="https://content.ordercloud.io/assets/b8074863-e2f8-4e8b-835c-21b5e52dbada.png" height="89" width="273"/>
            <h2><u>Innovative Health Care Solutions</u></h2>

	</header>

    <h3 class="text-center">One place for all products related to Health , Personal care ..............</h3>
        <!--<form name="ProductSearch"  ng-submit="home.searchProduct()">-->
                <!--<input id="prod" type="text"  class="text-center" placeholder="Search Product!!!!!" />-->
                <!--<button type="submit" class="btn btn-primary" >SUBMIT</button>-->
        <!--</form>-->

<!--<div ng-repeat="it in home.list.Items">-->

    <!--{{it.ID}}-->

    <!--</div>-->
    <article>

        <div class="product-list row">
            <div class="col-md-3" ng-repeat="product in home.list.Items">
                <div class="product-item" ui-sref="catalog.product({productid: product.ID})">
                    <h3 class="item-name">{{product.Name || product.ID}}</h3>
                    <p class="item-id" ng-if="product.Name">{{product.ID}} </p>
                    <div class="thumbnail-image">
                    <span class="fa-stack fa-5x" ng-if="!product.xp.image">
                        <i class="fa fa-camera fa-stack-1x"></i>
                        <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>
                        <div ng-if="product.xp.image">
                            <img class="img-responsive" ng-src="{{product.xp.image.URL}}" alt="Product Image">
                        </div>
                    </div>
                    <div class="item-price" ng-show="product.xp.visible"><p>  {{product.StandardPriceSchedule.PriceBreaks[0].Price | currency}} x {{product.StandardPriceSchedule.PriceBreaks[0].Quantity}} </p></div>
                    <div class="item-description" ng-if="product.Description"><p>{{product.Description}}</p></div>
                </div>
            </div>
        </div>
    </article>
</article>

